/* https://www.w3schools.com/howto/howto_custom_select.asp */
.custom-select {
    position: relative;
    font-family: Cambria, serif;
}

.custom-select select{
    display: none;
}

.select-selected {
    background-color: DodgerBlue;
}

/* Pil styling */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Vend pil opad når selectboxen er åben (active): */
.select-selected.select-arrow-acrtive:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* styling af valg, inklusiv det valgte element: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0,0,0,0.1) transparent;
    cursor: pointer;
}

/* styling af valg: */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Gem punkterne når selectboxen er lukket: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0,0,0,0.1);
}